<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../../../../assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../../../../assets/css/bootstrap-icons.css">
  <link rel="stylesheet" href="../../../../assets/css/swipe.css" />
  <link rel="stylesheet" href="../../../../assets/css//bootstrap-ie11.min.css">
  <link rel="stylesheet" href="../../../../assets/css/manual.css" />

  <script>
    function isIE(){
      return window.MSInputMethodContext && document.documentMode;
    }
  </script>
  <script nomodule crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default%2CNumber.parseInt%2CNumber.parseFloat%2CArray.prototype.find%2CArray.prototype.includes"></script>
  <script nomodule>window.MSInputMethodContext && document.documentMode && document.write('<script src="https://cdn.jsdelivr.net/combine/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js,npm/ie11-custom-properties@4,npm/element-qsa-scope@1"><\/script>');</script>
  <script src="../../../../assets/js/language.js"></script>
  <script>
    if(isIE()){
      document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"><\/script>');
      document.write('<script src="https://polyfill.io/v3/polyfill.min.js?version=3.109.0"><\/script>');
      document.write('<script src="../../../../assets/js/vue-ie11.js"><\/script>');
    } else {
      document.write('<script src="../../../../assets/js/vue.min.js"><\/script>');
    }
  </script>

  <title>Manual-Next</title>
</head>

<body>
  <div id="app">

    <div id="header-app">
      <div v-if="noResultShow" class="no-modal" v-cloak>
        <div class="no-modal-content">
          <p>검색결과가 없습니다<br />닫기 버튼을 누르면 메인 페이지로 이동합니다.</p>
          <span class="no-close" @click="noResultClose">닫기</span>
        </div>
      </div>
  
      <!-- header -->
      <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <div ref="buttonContainer" class="button-container">
              <button ref="navbarToggleButton"  class="navbar-toggler second-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <div ref="menuIcon" class="navbar-toggle-icon-ex" @click="toggleMenuIcon"><span></span><span></span><span></span><span></span></div>
              </button>
            </div>
            <a class="navbar-brand" href=""><img src="images/home.png" width="20px;"></i></a>
            <div class="input-group search-container">
              <input @input="inputChange" @keyup.enter="" :value="searchKeyword" class="form-control" type="search" placeholder="검색할 키워드를 입력하세요.">
              <button :disabled="!searchKeyword.length || searchKeyword.length < 2" @click="searchClick" class="btn btn-outline-success">
                <i class="bi bi-search"></i>
              </button>
            </div>
            <div class="language-container">
              <a class="nav-link dropdown-toggle main_menu" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Language
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li v-for="item in languageList"><a class="dropdown-item" :href="item.src">{{ item.name }}</a></li>
              </ul>
            </div>
            <div ref="navbarToggle" class="collapse navbar-collapse" id="navbarCollapse">
              <ul id="ContentsContainer" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li :class="getNavSectionClass(1)">
                  <a class="contents-section nav-link dropdown-toggle main_menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    [Section]
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a class="contents-article dropdown-item" @click.prevent="goElement($event, 1, 0);">
                        [Article]
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!--/header -->

      <!-- search list -->
      <div v-if="resultShow" v-cloak>
        <div v-if="searchResultIndex.length" class="search-result-index-subject">
          Index result
        </div>
        <ul v-if="searchResultIndex.length" class="search-result-index">
          <li v-for="item in searchResultIndex" class="search-item">
            <span>
              <a href="#" @click.prevent="goElement($event, item.sectionIndex, item.articleIndex)">
                <p class="search-article" v-html="item.article"></p>
              </a>
            </span>
          </li>
        </ul>
        <ul class="search-result">
          <li v-for="item in searchResult" class="search-item">
            <span :class="item.spanClass">
              <p v-if="item.sectionYn" class="search-section">{{ item.section }}</p>
              <a href="#" @click.prevent="goElement($event, item.sectionIndex, item.articleIndex)">
                <p class="search-article">{{ item.article }}</p>
                <p class="search-text" v-html="item.text"></p>
              </a>
            </span>
          </li>
        </ul>
      </div>
      <!--/search list -->
    </div>

    <div id="body-app">
      <a href="javascript:goScroll(0);" class="go-top"><i class="bi bi-chevron-up"></i></a>
      <!-- manual contents -->
      <div id="body-container" class="container-fluid">
        <span id="top"></span>
        <span id="contents-1" class="shap-target"></span>

        <div id="slider-prev" class="slider-center-left"><i class="bi bi-chevron-left"></i></div>
        <div id="slider-next" class="slider-center-right"><i class="bi bi-chevron-right"></i></div>

        <div id="slider-container" class="swipe">
          <div id="BodyContainer" class="swipe-wrap">

            <section id="mainSection">
              <div class="wrap">
                <div class="content">
                  <div class="main_bg"></div>
                  <div class="main_content">
                    <div class="cont_wrap">
                      <div class="txt_wrap">
                        <h1 style="font-weight: bold;">Qooker (큐커)</h1>
                        <h2 style="color: white;">사용 설명서</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <section>
              <h2 class="body-section"><img src="images/title_icon.png"> [Section]</h2>
              <div class="body-section-container"></div>
              <article>
                <h4 class="body-article shap-target">[Article]</h4>
                <div class="body-article-container"></div>
              </article>
            </section>

          </div>
        </div>
      </div>
      <!--/manual contents -->
    </div>    
  </div>

  <script src="../../../../assets/js/swipe.js"></script>
  <script>
    if (isIE()) {
      document.write('<script src="../../../../assets/js/bootstrap.js"><\/script>');
      document.write('<script src="../../../../assets/js/manual.js" type="text/babel"><\/script>');
    } else {
      document.write('<script src="../../../../assets/js/bootstrap.min.js"><\/script>');
      document.write('<script src="../../../../assets/js/manual.js" ><\/script>');
    }
  </script>  

</body>

</html>